<section id="cfp">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="section-heading">
          <h3>Application</h3>
          <div class="separator-div"></div>
        </div>

        {% if page.cfp.intro %}
          {{ page.cfp.intro | markdownify }}
        {% else %}
        <p>
          <strong>Applications are closed</strong>. We will accept a maximum of <strong>20 participants</strong>.
        </p>
        <p>
          A registration fee of <strong>100 euros</strong> will be charged. The cost includes training, coffee breaks, lunch, and a social event in the evening.
        </p>
        <p>
          Official registration and payment are due after applicants have been selected and have received a confirmation email. 
          The confirmation email will be sent by May 15.
        </p>
        {% endif %}

        {% if page.cfp.registration_link %}
          {% assign btn_text = page.cfp.registration_text | default: 'Apply here' %}
          <p class="text-center">
            <a href="{{ page.cfp.registration_link | escape }}" class="btn btn-custom btn-lg" target="_blank" rel="noopener noreferrer">
              {{ btn_text }}
            </a>
          </p>
        {% endif %}

        {% if page.cfp.extra_instructions %}
        {{ page.cfp.extra_instructions | markdownify }}
        {% endif %}
      </div>
    </div>
  </div>
</section>
