<head>
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />

  <title>
    {% if page.title %}{{ page.title }} - {% endif %}MINT Workshop
  </title>

  <!-- Tab icon / favicon -->
  <link rel="icon" type="image/png" href="{{ '/assets/images/mint_icon.png' | relative_url }}" />
  <link rel="shortcut icon" href="{{ '/assets/images/mint_icon.png' | relative_url }}" />
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/images/favicon-32x32.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/images/favicon-16x16.png' | relative_url }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/images/mint_icon.png' | relative_url }}">

  <!-- Optional for Apple devices -->
  <link rel="apple-touch-icon" href="{{ '/assets/images/mint_icon.png' | relative_url }}" />

  <!-- Fonts -->
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap"
    rel="stylesheet"
  />

  <!-- Bootstrap -->
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  />

  <!-- Font Awesome -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
  />

  <!-- Custom styles -->
  <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}" />
</head>