<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-header">
  <div class="container">
    <a class="navbar-brand" href="{{ '/' | relative_url }}">
      <img
        src="{{ '/assets/images/swift_mlp_icon.png' | relative_url }}"
        alt="SWiFT-MLP Logo"
        class="navbar-icon"
        width="40"
        height="40"
      />
      <span>SWiFT-MLP Workshop</span>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="scroll-link nav-link" href="#about">About</a>
        </li>
        {% if page.show_cfp %}
        <li class="nav-item">
          <a class="scroll-link nav-link" href="#cfp">Registration</a>
        </li>
        {% endif %} {% if page.show_cfcr %}
        <li class="nav-item">
          <a class="scroll-link nav-link" href="#cfcr"
            >Call for challenge reports</a
          >
        </li>
        {% endif %} {% if page.hackathon %}
        <li class="nav-item">
          <a class="scroll-link nav-link" href="#hackathon">Hackathon</a>
        </li>
        {% endif %} 
        {% if page.schedule %}
        <li class="nav-item">
          <a class="scroll-link nav-link" href="#schedule">Schedule</a>
        </li>
        <li class="nav-item">
          <a class="scroll-link nav-link" href="#organizers">Organizers</a>
        </li>
        {% endif %}
        {% if page.program_committee %}
        <li class="nav-item">
          <a class="scroll-link nav-link" href="#program-committee">PC</a>
        </li>
        {% endif %} {% if page.sponsors %}
        <li class="nav-item">
          <a class="scroll-link nav-link" href="#sponsors">Sponsor</a>
        </li>
        {% endif %} {% if page.paper_url %}
        <li class="nav-item">
          <a
            class="nav-link highlight-button"
            href="{{ page.paper_url }}"
            target="_blank"
          >
            📄 MINT Paper
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
